        .t_transform_uppercase{
            text-transform: uppercase;
        }
        .t_transform_lowerrcase{                   
            text-transform: lowercase;
        }
        .t_transform_capitalize{
            text-transform: capitalize;
        }
        .t_center{
            text-align: center;
        }
        .t_right{
            text-align: right;
        }
        .t_decor_underline{
            text-decoration: underline;
        }
        .t_decor_overline{
            text-decoration: overline;
        }
        .t_decor_linethrough{
            text-decoration: line-through;
        }

        .t_decor{
            text-decoration: line-through overline underline;
        }

        .t_indent{
            text-indent: 160px;
        }
        .letter_space{
            letter-spacing: 40px;
        }
        .word_space{
            word-spacing: 70px;
        }
        .line_height{
            line-height: 30px;
        }
         .t_shadow{
   font-size:  80px;
   text-align: center;
   color: red;
   text-shadow:6px 6px 8px  rgba(0, 0, 0, 0.829);

 }

 .b_shadow{
   box-shadow: 3px 3px 5px red;
   width:250px;
 }

 .d_shadow{
   box-shadow:4px 4px 3px purple;
   width:500px;
 }

 #t.color{
   color: brown;

 }
 #t_size{
   color: aqua;
 }

.t_color{
  color: black;
}
.t_size{
   font-size: 60px;
}

.t_bg{
   background-color: pink;
}

.t_center{
   text-align: center;
}

.f_family1{
   font-family: sans-serif;
   font-style: oblique;
}
.f_family2{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
}

.f_family3{
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.f_family4{
   font-family: serif;
   font-style: unset;
}
.f_family5{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* ---BOX MODEL---*/

.box_model_1{
            border: 4px solid violet;
            padding: 40px;
            margin: 60px;

        }
        .box_model_2{
            border: 4px solid black;
            padding: 40px 20px 40px 20px;
            margin: 20px 20px 20px 20px;
        }
        .b_prop2{
            width: 250px;
            border: 6px double rgb(71, 9, 9);
            border-radius: 30px;
            padding: 20px;
            margin-left: 40px;
        }
        .b_prop4{
            border: 6px double black;
            border-radius: 20px;
            padding: 40px;
            margin-right: 40px;

        }

        /* **BACKGROUND.HTML ** */
        .heading{
            text-align: center;
            padding-top: 20px;
            color: black;
        }
        .linear{
            height: 400px;
            background: linear-gradient(to right,orange,white);
        }
        .f_family{
            color: black;
        }
        .b_prop2{
            text-align: center;
        }
        .radial{
           height: 800px;
           background: radial-gradient(circle,orange,white,green);
           border-radius: 80%;
        }
        .conic{
            height: 500px;
            background: conic-gradient(from 90deg,red,green,blue,black);
        }
        .b_prop1{
            box-shadow: black;
            text-align: center;
        }